.sectionWrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box;
} 

@media (max-width: 768px) {
  .sectionWrapper {
    padding: 80px 20px 40px 20px;
    box-sizing: border-box;
  } 
}